body {
     margin:0;
    padding:0;
    box-sizing:border-box;
    margin: 0;
    font-family: Arial, sans-serif;   
  }
  .background-section {
   
   height: 100vh; /* Full viewport height */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  background-size: cover; /* Cover the entire container */
  background-position: center;
  background-repeat: no-repeat;
}
/* Laptop styles (minimum width 1024px) */
@media (min-width: 1024px) {
 .background-section {
    background-image: url('Untitled-100.jpg'); /* Replace with your laptop image URL */
  }
}

/* Phone styles (maximum width 768px) */
@media (max-width: 768px) {
  .background-section {
    background-image: url('Untitled-100.jpg'); /* Replace with your phone image URL */
  }
}
  .content {
    text-align: center;
    color: white;
    padding-top: 10px;
    background-color: rgba(0, 0, 0, 0.5); /* Adds transparency for readability */
  }
